"" Source your .vimrc
"source ~/.vimrc

sethandler <C-2> a:vim
sethandler <C-S-2> a:vim
sethandler <C-6> a:vim
sethandler <C-S-6> a:vim
sethandler <C-A> a:vim
sethandler <C-B> a:vim
sethandler <C-C> a:vim
sethandler <C-D> a:vim
sethandler <C-E> a:vim
sethandler <C-F> a:vim
sethandler <C-G> a:vim
sethandler <C-H> a:vim
sethandler <C-I> a:vim
sethandler <C-J> a:vim
sethandler <C-K> a:vim
sethandler <C-L> a:vim
sethandler <C-M> a:vim
sethandler <C-N> a:vim
sethandler <C-O> a:vim
sethandler <C-P> a:vim
sethandler <C-Q> a:vim
sethandler <C-R> a:vim
sethandler <C-S> a:vim
sethandler <C-T> a:vim
sethandler <C-U> a:vim
sethandler <C-V> a:vim
sethandler <C-W> a:vim
sethandler <C-X> a:vim
sethandler <C-Y> a:vim
sethandler <C-[> a:vim
sethandler <C-\> a:vim
sethandler <C-]> a:vim

let mapleader = " "
let maplocalleader = " "

set number
set relativenumber
set nohlsearch
set incsearch
set ignorecase
set smartcase

set undofile
set mouse=a

" Remap keystrokes
"
" Example:
" noremap <Leader>fa :action GotoAction<CR>
"
" Find actions by vim command
" :actionlist pattern

" Map ctrl+c to Esc
" Could be helpful, but we'll see.
noremap <C-c> <Esc>

" Disable some keys
noremap <Space> <Nop>
noremap <CR> <Nop>
noremap <BS> <Nop>

" System clipboard and other useful stuff
noremap <Leader>y "+y
nnoremap <Leader>y "+yy
noremap <Leader>p "_dP
noremap <Leader>P "_d"+P
nnoremap <Leader>p "+p
nnoremap <Leader>P "+P

noremap <Leader>d "_d
nnoremap <Leader>d "_dd

" Show Docs
" Not needed as ideavim seems to work just fine already
"noremap <S-k> :action Documentation.ShowExternal<CR>

" Find stuff
noremap <Leader>fa :action GotoAction<CR>

noremap <Leader>fe :action SearchEverywhere<CR>
noremap <Leader>ft :action GotoType<CR>
noremap <Leader>ff :action GotoFile<CR>
noremap <Leader>fs :action GotoSymbol<CR>
" Seems not to work
"noremap <Leader>fm :action GotoFileMember<CR>

" Navigate
noremap gs ^
noremap gh 0
noremap gl $

noremap j jzz
noremap k kzz

noremap gd :action GotoDeclaration<CR>
noremap gr :action ShowUsages<CR>
noremap gi :action GotoImplementation<CR>
"noremap gI :action GotoBase<CR>
noremap [m :action MethodUp<CR>
noremap ]m :action MethodDown<CR>
"noremap [d :action GotoPrevHighlight<CR>
"noremap ]d :action GotoNextHighlight<CR>
noremap [e :action GotoPrevError<CR>
noremap ]e :action GotoNextError<CR>

noremap gp :action QuickImplementations<CR>

" Refactor stuff
noremap <Leader>rt :action Refactorings.QuickListPopupAction<CR>
noremap <Leader>rr :action RenameElement<CR>
noremap <Leader>rs :action ChangeSignature<CR>

noremap <Leader>rv :action IntroduceVariable<CR>
noremap <Leader>rf :action IntroduceField<CR>
noremap <Leader>rp :action IntroduceParameter<CR>
noremap <Leader>rm :action ExtractMethod<CR>

noremap <Leader>ri :action Inline<CR>

" Comment / Uncomment code
vnoremap gc :action CommentByLineComment<CR>

" Format / Clean up code
noremap <Leader>cf :action ReformatCode<CR>
noremap <Leader>cc :action SilentCodeCleanup<CR>

" Show Quick Fixes / Code Actions
noremap <Leader>ca :action ShowIntentionActions<CR>

" Build project
noremap <Leader>bb :action BuildSolutionAction<CR>
noremap <Leader>br :action RebuildSolutionAction<CR>

" Run tests
noremap <Leader>ta :action RiderUnitTestRunSolutionAction<CR>
noremap <Leader>tc :action RiderUnitTestRunContextAction<CR>
noremap <Leader>tr :action RiderUnitTestRepeatPreviousRunAction<CR>
